---
import { Icon } from "astro-icon/components";

import ToggleTheme from "~/components/common/ToggleTheme.astro";
import ToggleMenu from "~/components/common/ToggleMenu.astro";

import { SITE } from "~/utils/config";
import { getHomePermalink } from "~/utils/permalinks";
import { trimSlash, getAsset } from "~/utils/permalinks";

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

export interface Props {
  id?: string;
  links?: Array<Link>;
  isSticky?: boolean;
  isDark?: boolean;
  showToggleTheme?: boolean;
  position?: string;
}

const {
  id = "header",
  links = [],
  isSticky = false,
  isDark = false,
  showToggleTheme = false,
  position = "center",
} = Astro.props;

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<style lang="scss">
  @media (width >= 48rem) {
    a.menu-link {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 3px;
        background: var(--color-secondary);
        width: 100%;
        transition: all 0.2s ease-in-out;
        transform: scaleX(0) translate3d(0, 0, 0);
      }

      &:hover:before {
        transform: scaleX(1);
      }
    }
  }
  @media print {
    header {
      display: none;
    }
  }
</style>
<header
  class:list={[
    { sticky: isSticky, relative: !isSticky, dark: isDark },
    "top-0 z-40 mx-auto w-full flex-none border-b border-gray-50/0 transition-opacity ease-in-out",
  ]}
  {...isSticky ? { "data-aw-sticky-header": true } : {}}
  {...id ? { id } : {}}
>
  <div class="absolute inset-0"></div>
  <div class="text-default relative mx-auto w-full max-w-7xl px-3 py-3 md:flex md:justify-between md:px-6">
    <div class:list={[{ "mr-auto rtl:mr-0 rtl:ml-auto": position === "right" }, "flex justify-between"]}>
      <a
        class="home-link ml-2 flex items-center text-2xl font-bold whitespace-nowrap md:text-xl"
        href={getHomePermalink()}
      >
        {SITE?.name}
      </a>
      <div class="flex items-center md:hidden">
        <ToggleMenu />
      </div>
    </div>
    <nav
      class="text-default hidden w-full items-center overflow-x-hidden overflow-y-auto md:mx-5 md:flex md:w-auto md:overflow-x-auto md:overflow-y-visible"
      aria-label="Main navigation"
    >
      <ul
        class="flex w-full flex-col text-xl font-medium tracking-[0.01rem] md:w-auto md:flex-row md:self-center md:text-[0.9375rem]"
      >
        {
          links.map(({ text, href }) => (
            <li>
              <a
                class:list={[
                  "menu-link mx-2 my-1 flex items-center px-1 whitespace-nowrap max-md:decoration-[#900] max-md:decoration-4 max-md:hover:underline dark:hover:text-white",
                  { "aw-link-active": href === currentPath },
                ]}
                href={href}
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
    <div
      class:list={[
        { "ml-auto rtl:mr-auto rtl:ml-0": position === "left" },
        "fixed bottom-0 left-0 hidden w-full items-center justify-end p-3 md:static md:mb-0 md:flex md:w-auto md:self-center md:justify-self-end md:p-0 rtl:right-0 rtl:left-auto",
      ]}
    >
      <div class="flex w-full items-center justify-between md:w-auto">
        <div class="flex">
          {showToggleTheme && <ToggleTheme iconClass="w-6 h-6 md:w-5 md:h-5 md:inline-block" />}
        </div>
      </div>
    </div>
  </div>
  <hr />
</header>
