.resume-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  max-width: 42rem;
}

.resume-intro {
  font-family: var(--font-sans);
  font-size: 0.875rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.resume-name {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
}

.resume-title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.resume-entry {
  --resume-entry-indent: 2rem;
  padding-inline-start: var(--resume-entry-indent);
}

.resume-entry + .resume-entry {
  margin-top: 2rem;
}

.resume-entry-header {
  margin-bottom: 0.5rem;
  margin-inline-start: calc(-1 * var(--resume-entry-indent));
  padding-inline-end: 1rem;
}

.resume-entry-row-with-date {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.resume-entry-company-name {
  font-family: var(--font-serif);
  font-size: 1rem;
  font-style: italic;
}

.resume-entry-date {
  font-size: 0.875rem;
  font-weight: 400;
}

.resume-entry-job-title {
  font-family: var(--font-serif);
  font-size: 1rem;
  font-weight: 600;
}

.resume-item {
  margin-top: 0.5rem;
}

.resume-item + .resume-item {
  margin-top: 1.5rem;
}

.resume-section-heading {
  border-top: 1px solid var(--color-secondary);
  color: var(--color-secondary);
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

.resume-subheading {
  font-family: var(--font-sans);
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
}

.resume-body {
  font-family: var(--font-serif);
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0.5rem;
}

.resume-body:last-child {
  margin-bottom: 0;
}

.resume-list {
  font-family: var(--font-serif);
  font-size: 1rem;
  line-height: 1.4;
  list-style: circle;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
}

.resume-list li + li {
  margin-top: 0.25rem;
}

.resume-footer {
  color: #666;
  font-size: 0.75rem;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
