---
import Layout from "~/layouts/PageLayout.astro";
import { fileLastModified } from "~/utils/file";
import "./developer.css";

const metadata = {
  title: "Developer Resumé",
  description: "Kevin Ashworth’s Developer Resumé (Front-End Dev)",
};

const lastModified = fileLastModified(import.meta.url);
---

<Layout metadata={metadata}>
  <div class="resume-container">
    <div class="resume-intro">
      <span class="resume-name">Kevin Ashworth</span><br />
      <span class="resume-title">Front-End Developer</span><br />
      <a href="mailto:hirekevin@proton.me">hirekevin@proton.me</a><br />
      424-476-6247<br />
      Los Angeles CA<br />
      <a href="https://github.com/kevinashworth">GitHub</a>,
      <a href="https://www.linkedin.com/in/iamkevinashworth/">LinkedIn</a>
    </div>

    <!-- <div class="resume-section-heading">Objective</div> -->
    <p class="resume-body">
      Currently seeking full-time opportunities. Eager to apply my varied background to web projects and <span
        class="text-nowrap"
      >
        mobile apps.
      </span>
    </p>

    <div class="resume-section-heading">Summary</div>
    <p class="resume-body">
      Frontend developer proficient in React, React Native, and TypeScript, adept at modern web application development.
    </p>
    <p class="resume-body">
      Committed to clean code, best practices, thoughtful documentation. Advocate for intuitive user experiences, and
      user interfaces that are both functional and elegant. An engineer who can design, a designer who can build.
    </p>
    <p class="resume-body">
      Thoughtful and skillful communicator, empathetic mentor and coach. Quick learner, able to take on problems outside
      direct area of expertise and be successful. Collaborative, detail-oriented, easy-going, and driven by quality.
    </p>

    <div class="resume-section-heading">Education</div>
    <p class="resume-body">
      <span class="font-semibold">Cornell University</span>, Master of Engineering, <span class="text-nowrap">
        3.86 GPA
      </span><br />
      <span class="font-semibold">BYU</span>, B.S. in Electrical Engineering, <span class="italic">cum laude</span>, <span
        class="text-nowrap"
      >
        3.78 GPA
      </span>, minor in Mathematics
      <br />
    </p>

    <div class="resume-section-heading">Skills</div>
    <div>
      <p class="resume-body">
        <span class="font-semibold">Front-End Development:</span> Node.js, React, JavaScript, TypeScript, Zod, <span
          class="text-nowrap"
        >
          Tailwind CSS,
        </span>
        <span class="text-nowrap">TanStack Query</span> and REST APIs, <span class="text-nowrap">TanStack Table,</span>
        <span class="text-nowrap">React Hook Form,</span> Zustand
      </p>
      <p class="resume-body"><span class="font-semibold">Mobile Development:</span> React Native, Expo</p>
      <p class="resume-body">
        <span class="font-semibold">AI / LLM:</span> Opencode, GitHub Copilot, Cursor, <span class="text-nowrap">
          LM Studio
        </span>
      </p>
      <p class="resume-body">
        <span class="font-semibold">Testing &amp; Debugging:</span> Cypress, Vitest, Jest, DevTools, Postman
      </p>
      <p class="resume-body">
        <span class="font-semibold">Development Tools:</span> Git, Docker, Bitbucket, GitHub, Node.js, Agile/Scrum methodologies
      </p>
    </div>

    <div>
      <div class="resume-section-heading">Experience</div>
    </div>
    <div class="resume-entry">
      <div class="resume-entry-header">
        <div class="resume-entry-row-with-date">
          <div class="resume-entry-job-title">Front-End Web Developer</div>
          <div class="resume-entry-date">April 2021 &ndash; current position</div>
        </div>
        <div class="resume-entry-company-name">FreshLime &amp; GotYou | Lehi, UT | remote</div>
      </div>
      <p class="resume-body">
        Led selection and implementation of front-end tech stack for a greenfield SMB billing/owner-management app.
      </p>
      <ul class="resume-list">
        <li>
          Built and maintained the React + Tailwind + TypeScript codebase, and <span class="font-semibold">
            shipped on schedule.
          </span>
        </li>
        <li>
          Owned UX polish—created a shared component library and design system, implemented various missing UI flows,
          icons, edge-state, and error-handling, to deliver a production-grade experience.
        </li>
        <li>
          Used Zustand and Zod to address complex state management requirements, and to improve code quality and
          maintainability.
        </li>
        <li>Collaborated with backend and deployment pipelines to streamline releases.</li>
      </ul>
      <p class="resume-body">
        Also maintained and improved a React + Material-UI + JavaScript web app from the sister business, which had been
        built for similar purposes.
      </p>
    </div>

    <div class="resume-entry">
      <div class="resume-entry-header">
        <div class="resume-entry-row-with-date">
          <div class="resume-entry-job-title">Mobile App Developer</div>
          <div class="resume-entry-date">April 2021 &ndash; current position</div>
        </div>
        <div class="resume-entry-company-name">FreshLime &amp; GotYou | Lehi, UT | remote</div>
      </div>
      <p class="resume-body">
        Successfully transitioned to mobile app development; using React Native and Expo, contributed significantly to
        re-launch of iOS/Android app for clients’ customers.
      </p>
      <p class="resume-body">Played a key role in modernizing the UI and improving performance:</p>
      <ul class="resume-list">
        <li>
          Designed and launched <span class="italic">
            The 11:23<span class="text-xs [font-variant-caps:small-caps]">AM</span> Daily Deal Drop
          </span> — this new feature achieved <span class="font-semibold">user engagement rates over 50%</span>.
        </li>
        <li>Updated the mobile app from Expo Go to Expo development builds.</li>
        <li>
          Replaced traditional email/password sign-in with a mobile-first SMS OTP authentication flow using AWS Cognito.
        </li>
      </ul>
    </div>

    <div class="resume-entry">
      <div class="resume-entry-header">
        <div class="resume-entry-job-title">User-Interface Designer</div>
        <div class="resume-entry-company-name">Ab Initio Software | Lexington, Mass.</div>
      </div>
      <p class="resume-body">
        Responsible for design of software applications, internal and external web sites, and web applications.
      </p>
      <ul class="resume-list">
        <li>
          <span class="font-semibold">Improved the previously-engineer-designed interface</span> of main web application,
          resulting in a good-looking UI loved by managers, customers, and even engineers.
        </li>
        <li>Built and maintained main external site.</li>
        <li>
          Built and maintained employees-only intranet. With a high design concept, this Adobe AIR site was finicky, but
          lovely.
        </li>
        <li>Coached new employees in using company’s software.</li>
      </ul>
    </div>

    <div class="resume-entry">
      <div class="resume-entry-header">
        <div class="resume-entry-job-title">Production Manager</div>
        <div class="resume-entry-company-name">Circle.com | New York, NY</div>
      </div>
      <p class="resume-body">Responsible for workload and personal growth of programmers.</p>
      <ul class="resume-list">
        <li>Managed group of 5 programmers.</li>
        <li>Hired 1 full-time and 6 freelance programmers.</li>
        <li>
          <span class="font-semibold">Worked across disciplines</span>: Coordinated with 6 project managers, 4 design
          directors, technologists at other offices and many client representatives.
        </li>
      </ul>
      <p class="resume-body">
        Partial client list: Schlumberger, Newsweek, HBO Screening Room, AOL @ School, Goldman Sachs intranet,
        NetMarket, IBM intranet, Datek, Univision, Gateway.
      </p>
    </div>

    <div class="resume-entry">
      <div class="resume-entry-header">
        <div class="resume-entry-job-title">Electrical Engineer, Design</div>
        <div class="resume-entry-company-name">Hewlett-Packard | San Diego, Calif.</div>
      </div>
      <p class="resume-body">
        Responsible for design of power supply for a new color copier product, prototype electronics, design of
        copy-controlling functionality and mechanical interface for sensors and heater.
      </p>
      <ul class="resume-list">
        <li>
          Created performance and regulatory specification and defined technical criteria to evaluate vendor
          qualifications, resulting in selection and implementation of a power supply used world-wide.
        </li>
        <li>
          Redesigned analog circuit and edited reference specification for clarity, achieving proper execution of
          copy-controlling function on a color copier with no field failures and no customer complaints.
        </li>
        <li>
          Redesigned paper sensor circuit, thus ensuring a smooth production ramp with no shutdowns for this sensor.
        </li>
      </ul>
    </div>

    <div class="resume-entry">
      <div class="resume-entry-header">
        <div class="resume-entry-job-title">Electrical Engineer, Manufacturing</div>
        <div class="resume-entry-company-name">Hewlett-Packard | San Diego, Calif.</div>
      </div>
      <p class="resume-body">
        Responsible for main electronics boards for three printer and copier products, seeing to design quality, cost
        and reliability improvements, warranty performance and support issues; also responsible for production-line
        issues.
      </p>
      <ul class="resume-list">
        <li>
          Improved functional test of electronics board at contract manufacturer through improvements to test software,
          eliminating 2 failure modes of the board at top-level factory.
        </li>
        <li>
          Reprogrammed DOS end-of-line testing for copier product, which resulted in an assembly-time reduction of 2
          minutes per unit.
        </li>
        <li>Reduced high servo subsystem failure rate by over 90%.</li>
      </ul>
    </div>

    <div>
      <div class="resume-section-heading">Side Projects</div>
    </div>
    <div class="resume-entry">
      <div class="resume-entry-header">
        <div class="resume-entry-job-title">Front-End Developer</div>
        <div class="resume-entry-company-name">Civic Tech Index</div>
      </div>
      <p class="resume-body">
        Open-source React project from <a href="https://www.hackforla.org">Hack For LA</a>
      </p>
      <ul class="resume-list">
        <li>Brought cohesion to team’s use of Material-UI</li>
        <li>Wrote Cypress tests, expanding code coverage from 50% to 91%</li>
        <li>Wrote and edited documentation</li>
        <li>
          Within a month, became <a href="https://github.com/civictechindex/CTI-website-frontend/graphs/contributors">
            main contributor
          </a>
        </li>
      </ul>
    </div>
    <div class="resume-entry">
      <div class="resume-entry-header">
        <div class="resume-entry-job-title">Full-Stack Developer</div>
        <div class="resume-entry-company-name"><a href="https://github.com/kevinashworth/Octave">Octave</a></div>
      </div>
      <p class="resume-body">React + GraphQL SPA, large side project</p>
      <ul class="resume-list">
        <li>Built with Vulcan, which uses Meteor</li>
        <li>
          Wrote 71 React <a href="https://github.com/kevinashworth/Octave/tree/main/packages/octave/lib/components">
            components
          </a>
        </li>
        <li>Used Redux, Apollo, Twilio, and many npm libraries</li>
        <li>Used MongoDB with server-side data denormalization</li>
      </ul>
    </div>

    <div>
      <div class="resume-section-heading">Additional Skills, Experiences &amp; Interests</div>
    </div>
    <div class="resume-item">
      <div class="resume-subheading">Languages</div>
      <p class="resume-body">Conversational Spanish</p>
    </div>
    <div class="resume-item">
      <div class="resume-subheading">Other Professional Experiences</div>
      <p class="resume-body">Electronics teacher at Middlesex Community College.</p>
      <p class="resume-body">Acting teacher in Los Angeles.</p>
      <p class="resume-body">
        Music director for Methodist church, chorus member of Boston Symphony Orchestra and
        <span class="text-nowrap">La Jolla Symphony</span>, piano teacher, theater administrator in <span
          class="text-nowrap"
        >
          New York.
        </span>
      </p>
    </div>

    <div class="resume-footer">Last modified: {lastModified}</div>
  </div>
</Layout>
