---
import Layout from "~/layouts/PageLayout.astro";

import "./_web.css";

const lastModified = "April 4, 2026";

const metadata = {
  title: "My web resumé",
  description: "Kevin Ashworth’s Web Resumé (Front-End Developer)",
};
---

<Layout metadata={metadata}>
  <div class="resume-page">
    <div class="resume-container">
      <div class="resume-block">
        <div class="resume-intro">
          <span class="resume-name"><a href="/">Kevin Ashworth</a></span><br />
          <span class="resume-title">Front-End Developer</span><br />
          <a href="mailto:kevinashworth@gmail.com">kevinashworth@gmail.com</a><br />
          310-993-7136<br />
          <a href="https://github.com/kevinashworth">GitHub</a>,
          <a href="https://www.linkedin.com/in/iamkevinashworth/">LinkedIn</a>
        </div>
        <div class="resume-section-heading">Objective</div>
        <p class="resume-body">
          Seeking full-time opportunities to apply my varied background to web projects and mobile apps.
        </p>
        <div class="resume-section-heading">Summary of Qualifications</div>
        <p class="resume-body">
          Adept at <span class="font-semibold">React and the modern web</span>, full-stack JavaScript. Reliant on good
          code structure, patience, reference to documentation.
        </p>
        <p class="resume-body">
          Passionate about user interfaces, an advocate for designing user experience first and foremost. An engineer
          who can design, a designer who can build.
        </p>
        <p class="resume-body">
          Quick learner, able to take on problems outside direct area of expertise and be successful. Easy-going,
          skillful communicator, empathetic and thoughtful, in technical and non-technical communication.
          Detail-oriented, zealous about quality.
        </p>
        <div class="resume-section-heading">Education</div>
        <p class="resume-body">
          <b>Cornell University</b>, Master of Engineering, 3.86 GPA<br />
          <b>Brigham Young University</b>, Bachelor of Science in Electrical Engineering, cum laude, 3.78 GPA<br />
        </p>
        <div class="resume-section-heading">Skills</div>
        <div>
          <p class="resume-body">
            <span class="font-semibold">Front-End Development:</span> CSS, HTML, JavaScript; TypeScript, React,
            <span class="text-nowrap">Tailwind CSS</span>, <span class="text-nowrap">TanStack Query</span> and
            <span class="text-nowrap">TanStack Table</span>, React Hook Form, Zod, Zustand
          </p>

          <p class="resume-body"><span class="font-semibold">Mobile Development:</span> React-Native, Expo</p>

          <p class="resume-body">
            <span class="font-semibold">Testing &amp; Debugging:</span> Cypress, Vitest, Jest, DevTools, Postman
          </p>

          <p class="resume-body">
            <span class="font-semibold">Development Tools:</span> Git, Docker, Bitbucket, GitHub, NodeJS, Agile/Scrum methodologies
          </p>
        </div>
      </div>

      <div class="resume-block">
        <div class="resume-section-heading">Experience</div>
      </div>

      <div class="resume-stack resume-entry-stack">
        <div>
          <div class="resume-row">
            <div class="resume-item-title">FreshLime &amp; GotYou, Lehi UT (full-time, remote)</div>
            <div class="resume-item-date">2021 &ndash; current position</div>
          </div>

          <div class="resume-item-subtitle">Mobile App Developer</div>
          <p class="resume-body">
            Successfully transitioned to mobile app development utilizing React Native and Expo, contributing
            significantly to the re-launch of our flagship iOS/Android app for the customers of GotYou businesses.
          </p>
          <p class="resume-body">Played a key role in modernizing the UI and improving performance:</p>
          <ul class="resume-list">
            <li>
              Designed and implemented a new section of the mobile app called the Daily Deal, resulting in <span
                class="font-semibold"
              >
                user engagement rates of over 50%
              </span>.
            </li>
            <li>
              Migrated our process from Expo Go to development builds, incorporating <code class="text-sm text-nowrap">
                expo-font
              </code>, <code class="text-sm text-nowrap">expo-notifications</code>, and other libraries not available in
              Expo Go.
            </li>
            <li>Migrated app from email authentication to mobile OTP sign in.</li>
            <li>
              Used state management with <code class="text-sm text-nowrap">easy-peasy</code> to improve code quality and maintainability.
            </li>
            <li>
              Contributed to the documentation of new features and best practices for React Native development within
              the team.
            </li>
          </ul>

          <div class="resume-item-subtitle">Front-End Web Developer</div>
          <p class="resume-body">
            In a challenging, under-funded startup environment, <span class="font-semibold">
              selected the front-end tech stack, built, and maintained
            </span>
            a new web application to manage small-business owner accounts and billing.
          </p>
          <p class="resume-body">
            Also maintained and improved a pre-existing React JavaScript Material-UI web app from the sister business,
            which had been built for similar purposes.
          </p>
          <p class="resume-body">
            Led the development of a completely new, fully-type-checked React TypeScript Tailwind web app, proactively
            addressing design gaps and implementing missing UI elements to ensure a polished UX:
          </p>
          <ul class="resume-list">
            <li>Ensured front-end launched successfully and on time.</li>
            <li>
              Filled in design details such as missing icons and overlooked UI elements, and error handling and most of
              the design work off the “happy path.”
            </li>
            <li>
              Utilized TypeScript to address complex state management requirements, and to improve code quality and
              maintainability
            </li>
            <li>Collaborated with the backend team, and built type-checking for all endpoints.</li>
          </ul>
        </div>

        <div>
          <div class="resume-item-title">Ab Initio Software, Lexington MA</div>
          <div class="resume-item-subtitle">User-Interface Designer</div>
          <p class="resume-body">
            Responsible for design of software applications, internal and external web sites, and web applications.
          </p>
          <ul class="resume-list">
            <li>
              <span class="font-semibold">Improved the previously-engineer-designed interface</span> of main web application,
              resulting in a good-looking UI loved by managers, customers, and even engineers.
            </li>
            <li>Built and maintained main external site.</li>
            <li>
              Built and maintained employees-only intranet. With a high design concept, this Adobe AIR site was finicky,
              but lovely.
            </li>
            <li>Coached new employees in using company’s software.</li>
          </ul>
        </div>

        <div>
          <div class="resume-item-title">Circle.com, New York NY</div>
          <div class="resume-item-subtitle">Production Manager</div>
          <p class="resume-body">Responsible for workload and personal growth of programmers.</p>
          <ul class="resume-list">
            <li>Managed group of 5 programmers.</li>
            <li>Hired 1 full-time and 6 freelance programmers.</li>
            <li>
              <span class="font-semibold">Worked across disciplines</span>: Coordinated with 6 project managers, 4
              design directors, technologists at other offices and many client representatives.
            </li>
          </ul>
          <div class="resume-body">
            Partial client list: Schlumberger, Newsweek, HBO Screening Room, AOL @ School, Goldman Sachs intranet,
            NetMarket, IBM intranet, Datek, Univision, Gateway.
          </div>
        </div>

        <div>
          <div class="resume-item-title">Hewlett-Packard, San Diego CA</div>
          <div class="resume-item-subtitle">Electrical Engineer, Design</div>
          <p class="resume-body">
            Responsible for design of power supply for a new color copier product, prototype electronics, design of
            copy-controlling functionality and mechanical interface for sensors and heater.
          </p>
          <ul class="resume-list">
            <li>
              Created performance and regulatory specification and defined technical criteria to evaluate vendor
              qualifications, resulting in selection and implementation of a power supply used world-wide.
            </li>
            <li>
              Redesigned analog circuit and edited reference specification for clarity, achieving proper execution of
              copy-controlling function on a color copier with no field failures and no customer complaints.
            </li>
            <li>
              Redesigned paper sensor circuit, thus ensuring a smooth production ramp with no shutdowns for this sensor.
            </li>
          </ul>

          <div class="resume-item-subtitle">Electrical Engineer, Manufacturing</div>
          <p class="resume-body">
            Responsible for main electronics boards for three printer and copier products, seeing to design quality,
            cost and reliability improvements, warranty performance and support issues; also responsible for
            production-line issues.
          </p>
          <ul class="resume-list">
            <li>
              Improved functional test of electronics board at contract manufacturer through improvements to test
              software, eliminating 2 failure modes of the board at top-level factory.
            </li>
            <li>
              Reprogrammed DOS end-of-line testing for copier product, which resulted in an assembly-time reduction of 2
              minutes per unit.
            </li>
            <li>Reduced high servo subsystem failure rate by over 90%.</li>
          </ul>
        </div>
      </div>

      <div class="resume-block">
        <div class="resume-section-heading">Side Projects</div>
      </div>

      <div class="resume-stack resume-entry-stack">
        <div>
          <div class="resume-item-title">Civic Tech Index</div>
          <div class="resume-item-subtitle">Front-End Developer</div>
          <p class="resume-body">
            Open-source React project from <a href="https://www.hackforla.org">Hack For LA</a>
          </p>
          <ul class="resume-list">
            <li>Brought cohesion to team’s use of Material-UI</li>
            <li>Wrote Cypress tests, expanding code coverage from 50% to 91%</li>
            <li>Wrote and edited documentation</li>
            <li>
              Within a month, became <a
                href="https://github.com/civictechindex/CTI-website-frontend/graphs/contributors"
              >
                main contributor
              </a>
            </li>
          </ul>
        </div>

        <div>
          <div class="resume-item-title"><a href="https://github.com/kevinashworth/Octave">Octave</a></div>
          <div class="resume-item-subtitle">Full-Stack Developer</div>
          <p class="resume-body">React+GraphQL SPA, large side project</p>
          <ul class="resume-list">
            <li>Built with Vulcan, which uses Meteor</li>
            <li>
              Wrote 71 React <a href="https://github.com/kevinashworth/Octave/tree/main/packages/octave/lib/components">
                components
              </a>
            </li>
            <li>Used Redux, Apollo, Twilio, and many npm libraries</li>
            <li>Used MongoDB with server-side data denormalization</li>
          </ul>
        </div>
      </div>

      <div class="resume-block">
        <div class="resume-section-heading">Additional Skills, Experiences &amp; Interests</div>
      </div>

      <div class="resume-stack">
        <div>
          <div class="resume-smallcaps">Languages</div>
          <div class="resume-body">Conversational Spanish</div>
        </div>

        <div>
          <div class="resume-smallcaps">Other Professional Experiences</div>
          <ul class="resume-list">
            <li>Electronics teacher at Middlesex Community College.</li>
            <li>Acting teacher in Los Angeles.</li>
            <li>
              Actor in Los Angeles, music director for Methodist church, chorus member of Boston Symphony Orchestra and
              <span class="text-nowrap">La Jolla Symphony</span>, piano teacher, theater administrator in New York.
            </li>
          </ul>
        </div>
        <div class="resume-footnote">Last modified: {lastModified}</div>
      </div>
    </div>
  </div>
</Layout>
