---
import Layout from "~/layouts/PageLayout.astro";
import Rubric from "~/components/blog/Rubric.astro";
import EmailSignup from "~/components/EmailSignup.astro";
import { version } from "../../package.json";

const metadata = {
  title: "About me",
  description: "This page is a little about me. A very little.",
};

const rubric = "About me";
const headline = "Kevin Ashworth";
---

<style>
  a,
  ul li a {
    text-decoration: underline;
  }
  a:link {
    color: #900;
  }
  a:visited {
    color: #900;
  }
  a:hover {
    color: #e00;
  }
  a:active {
    color: #e00;
  }
</style>

<Layout metadata={metadata}>
  <section class="not-prose">
    <div class="mx-auto max-w-4xl px-4 py-6 md:px-6">
      <Rubric rubric={rubric} headline={headline} />
      <div class="mx-auto mb-12 max-w-3xl">
        <p>
          Hi! My name is Kevin Ashworth. I’m an actor, an acting teacher and a web developer. I live in Los Angeles.
        </p>
        <br />
        <p>
          I like to say that I remind you of Tim DeKay, Peter Krause, Dick Sargeant, Bob Crane, or that <i>Barry</i>
          guy.
        </p>
        <br />
        <p>
          You can learn more about me at a bunch of places, including
          <a href="https://about.me/kevinashworth">about.me</a>,
          <a href="https://github.com/kevinashworth">GitHub</a>,
          <a href="https://imdb.me/kevinashworth">IMDb</a>, and
          <a href="https://linkedin.com/in/iamkevinashworth">LinkedIn</a>.
        </p>
      </div>
      <hr />
      <EmailSignup />
    </div>
  </section>
  <div class="text-center text-xs text-gray-300 dark:text-slate-600">v{version}</div>
</Layout>
