---
import { Icon } from "astro-icon/components";
import fs from "fs";
import path from "path";

import Layout from "~/layouts/PageLayout.astro";
import Rubric from "~/components/blog/Rubric.astro";
import EmailSignup from "~/components/EmailSignup.astro";
import { getAsset } from "~/utils/permalinks";

const packageJsonPath = path.resolve(process.cwd(), "package.json");
const packageJson = JSON.parse(fs.readFileSync(packageJsonPath, "utf8"));
const version = packageJson.version;

const metadata = {
  title: "About me",
  description: "This page is a little about me. A very little.",
};

const rubric = "About me";
const headline = "Kevin Ashworth";
---

<Layout metadata={metadata}>
  <section class="not-prose">
    <div class="mx-auto max-w-2xl px-4 py-6 md:px-6">
      <Rubric rubric={rubric} headline={headline} />
      <div class="mx-auto mb-12 max-w-3xl">
        <p>
          Hi! My name is Kevin Ashworth. I’m an actor (occasionally), an acting teacher (weekly) and a web developer
          (daily). I live in Los Angeles.
        </p>
        <br />
        <p>
          I like to say that I remind you of Tim DeKay, Peter Krause, Dick Sargeant, Bob Crane, or that <i>Barry</i>
          guy.
        </p>
        <br />
        <p>
          You can learn more about me at a bunch of places, including
          <a href="https://about.me/kevinashworth">about.me</a>,
          <a href="https://github.com/kevinashworth">GitHub</a>,
          <a href="https://imdb.me/kevinashworth">IMDb</a>, and
          <a href="https://linkedin.com/in/iamkevinashworth">LinkedIn</a>.
        </p>
      </div>
      <hr />
      <EmailSignup />
      <hr />
      <div class="my-6">
        <h2 class="font-heading text-base font-semibold dark:text-gray-200">Misc</h2>
        <div class="flex gap-2">
          <p class="text-base font-medium dark:text-gray-200">RSS Feed:</p>
          <a
            class="inline-flex items-center rounded-lg text-sm hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 focus:outline-hidden dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
            aria-label="RSS Feed"
            href={getAsset("/rss.xml")}
          >
            <Icon name="tabler:rss" class="m-1 h-4 w-4" />
          </a>
        </div>
        <div class="flex gap-2">
          <p class="text-base font-medium dark:text-gray-200">Site Version:</p>
          <p class="text-base dark:text-slate-600">v{version}</p>
        </div>
      </div>
    </div>
  </section>
</Layout>
