---
import Layout from "~/layouts/PageLayout.astro";
import SearchComponent from "astro-pagefind/components/Search";

const metadata = {
  title: "Search",
};
---

<Layout metadata={metadata}>
  <section class="not-prose">
    <div class="mx-auto max-w-4xl px-4 py-6 md:px-6">
      <div class="mx-auto max-w-5xl text-center">
        <p class="text-base font-bold uppercase tracking-wide text-secondary dark:text-red-200">Search</p>
        <h1 class="leading-tighter mb-4 font-heading text-3xl font-bold tracking-tighter dark:text-gray-200">
          search my site
        </h1>
      </div>
      <div class="mx-auto mb-12 min-h-48 max-w-3xl">
        <SearchComponent
          id="search"
          className="pagefind-ui"
          uiOptions={{
            showImages: false,
          }}
        />
      </div>
    </div>
  </section>
</Layout>
