---
import Layout from "~/layouts/PageLayout.astro";

import "./_web.css";

const lastModified = "October 4, 2025";

const metadata = {
  title: "My web resumé",
  description: "Kevin Ashworth’s Web Resumé (Front-End Developer)",
};
---

<Layout metadata={metadata}>
  <div class="mx-2">
    <div class="mx-auto mb-4 max-w-3xl">
      <div class="resume">
        <div class="mt-4 text-sm">
          <span class="text-xl font-bold"><a href="/">Kevin Ashworth</a></span><br />
          <span class="text-base">Front-End Developer</span><br />
          <a href="mailto:kevinashworth@gmail.com">kevinashworth@gmail.com</a><br />
          310-993-7136<br />
          <a href="https://github.com/kevinashworth">GitHub</a>,
          <a href="https://www.linkedin.com/in/iamkevinashworth/">LinkedIn</a>
        </div>
        <div class="heading">Objective</div>
        <p>Seeking full-time opportunities to apply my varied background to web projects and mobile apps.</p>
        <div class="heading">Summary of Qualifications</div>
        <p class="mb-2">
          Adept at <span class="font-semibold">React and the modern web</span>, full-stack JavaScript. Reliant on good
          code structure, patience, reference to documentation.
        </p>
        <p class="mb-2">
          Passionate about user interfaces, an advocate for designing user experience first and foremost. An engineer
          who can design, a designer who can build.
        </p>
        <p>
          Quick learner, able to take on problems outside direct area of expertise and be successful. Easy-going,
          skillful communicator, empathetic and thoughtful, in technical and non-technical communication.
          Detail-oriented, zealous about quality.
        </p>
        <div class="heading">Education</div>
        <p><b>Cornell University</b>, Master of Engineering, 3.86 GPA</p>
        <p>
          <b>Brigham Young University</b>, Bachelor of Science in Electrical Engineering, cum laude, 3.78 GPA<br />
        </p>
        <div class="heading">Skills</div>
        <div>
          <p>
            <span class="font-semibold">Front-End Development:</span> CSS, HTML, JavaScript; TypeScript, React, <span
              class="text-nowrap">Tailwind CSS</span
            >, <span class="text-nowrap">TanStack Query</span> and <span class="text-nowrap">TanStack Table</span>,
            React Hook Form, Zod, Zustand
          </p>

          <p><span class="font-semibold">Mobile Development:</span> React-Native, Expo</p>

          <p><span class="font-semibold">Testing &amp; Debugging:</span> Cypress, Vitest, Jest, DevTools, Postman</p>

          <p>
            <span class="font-semibold">Development Tools:</span> Git, Docker, Bitbucket, GitHub, NodeJS, Agile/Scrum methodologies
          </p>
        </div>
      </div>

      <div class="resume">
        <div class="heading">Full-Time Experience</div>
      </div>

      <div class="resume flex flex-col gap-8">
        <div>
          <div class="flex flex-row justify-between">
            <div class="text-base font-bold">FreshLime &amp; GotYou, Lehi UT (full-time, remote)</div>
            <div class="text-sm font-medium">2021 &ndash; current position</div>
          </div>

          <div class="font-medium">Mobile App Developer</div>
          <p class="font-serif text-base">
            Successfully transitioned to mobile app development utilizing React Native and Expo, contributing
            significantly to the re-launch of our flagship iOS/Android app for the customers of GotYou businesses.
          </p>
          <p class="font-serif text-base">Played a key role in modernizing the UI and improving performance:</p>
          <ul class="mb-4 font-serif text-base">
            <li>
              Designed and implemented a new section of the mobile app called the Daily Deal, resulting in <span
                class="font-semibold"
              >
                user engagement rates of over 50%
              </span>.
            </li>
            <li>
              Migrated our process from Expo Go to development builds, incorporating <code class="text-sm text-nowrap"
                >expo-font</code
              >, <code class="text-sm text-nowrap">expo-notifications</code>, and other libraries not available in Expo
              Go.
            </li>
            <li>Migrated app from email authentication to mobile OTP sign in.</li>
            <li>
              Used state management with <code class="text-sm text-nowrap">easy-peasy</code> to improve code quality and
              maintainability.
            </li>
            <li>
              Contributed to the documentation of new features and best practices for React Native development within
              the team.
            </li>
          </ul>

          <div class="font-medium">Front-End Web Developer</div>
          <p class="font-serif text-base">
            In a challenging, under-funded startup environment, <span class="font-semibold"
              >selected the front-end tech stack, built, and maintained</span
            >
            a new web application to manage small-business owner accounts and billing.
          </p>
          <p class="mb-0 pb-0 font-serif text-base">
            Also maintained and improved a pre-existing React JavaScript Material-UI web app from the sister business,
            which had been built for similar purposes.
          </p>
          <p class="font-serif text-base">
            Led the development of a completely new, fully-type-checked React TypeScript Tailwind web app, proactively
            addressing design gaps and implementing missing UI elements to ensure a polished UX:
          </p>
          <ul class="font-serif text-base">
            <li>Ensured front-end launched successfully and on time.</li>
            <li>
              Filled in design details such as missing icons and overlooked UI elements, and error handling and most of
              the design work off the “happy path.”
            </li>
            <li>
              Utilized TypeScript to address complex state management requirements, and to improve code quality and
              maintainability
            </li>
            <li>Collaborated with the backend team, and built type-checking for all endpoints.</li>
          </ul>
        </div>

        <div>
          <b>Ab Initio Software, Lexington MA</b><br />
          <span class="font-medium">User-Interface Designer</span><br />
          <p class="font-serif text-base">
            Responsible for design of software applications, internal and external web sites, and web applications.
          </p>
          <ul class="font-serif text-base">
            <li>
              <span class="font-semibold">Improved the previously-engineer-designed interface</span> of main web application,
              resulting in a good-looking UI loved by managers, customers, and even engineers.
            </li>
            <li>Built and maintained main external site.</li>
            <li>
              Built and maintained employees-only intranet. With a high design concept, this Adobe AIR site was finicky,
              but lovely.
            </li>
            <li>Coached new employees in using company’s software.</li>
          </ul>
        </div>

        <div>
          <b>Circle.com, New York NY</b><br />
          <span class="font-medium">Production Manager</span><br />
          <p class="font-serif text-base">Responsible for workload and personal growth of programmers.</p>
          <ul class="mb-0 list-inside list-disc pb-0 font-serif text-base">
            <li>Managed group of 5 programmers.</li>
            <li>Hired 1 full-time and 6 freelance programmers.</li>
            <li>
              <span class="font-semibold">Worked across disciplines</span>: Coordinated with 6 project managers, 4
              design directors, technologists at other offices and many client representatives.
            </li>
          </ul>
          <div class="font-serif text-base">
            Partial client list: Schlumberger, Newsweek, HBO Screening Room, AOL @ School, Goldman Sachs intranet,
            NetMarket, IBM intranet, Datek, Univision, Gateway.
          </div>
        </div>

        <div>
          <b>Hewlett-Packard, San Diego CA</b><br />
          <span class="font-medium">Electrical Engineer, Design</span>
          <p class="font-serif text-base">
            Responsible for design of power supply for a new color copier product, prototype electronics, design of
            copy-controlling functionality and mechanical interface for sensors and heater.
          </p>
          <ul class="list-inside list-disc font-serif text-base">
            <li>
              Created performance and regulatory specification and defined technical criteria to evaluate vendor
              qualifications, resulting in selection and implementation of a power supply used world-wide.
            </li>
            <li>
              Redesigned analog circuit and edited reference specification for clarity, achieving proper execution of
              copy-controlling function on a color copier with no field failures and no customer complaints.
            </li>
            <li>
              Redesigned paper sensor circuit, thus ensuring a smooth production ramp with no shutdowns for this sensor.
            </li>
          </ul>
          <br />
          <span class="font-medium">Electrical Engineer, Manufacturing</span>
          <p class="font-serif text-base">
            Responsible for main electronics boards for three printer and copier products, seeing to design quality,
            cost and reliability improvements, warranty performance and support issues; also responsible for
            production-line issues.
          </p>
          <ul class="list-inside list-disc font-serif text-base">
            <li>
              Improved functional test of electronics board at contract manufacturer through improvements to test
              software, eliminating 2 failure modes of the board at top-level factory.
            </li>
            <li>
              Reprogrammed DOS end-of-line testing for copier product, which resulted in an assembly-time reduction of 2
              minutes per unit.
            </li>
            <li>Reduced high servo subsystem failure rate by over 90%.</li>
          </ul>
        </div>
      </div>

      <div class="resume">
        <div class="heading">Side Projects</div>
      </div>

      <div class="resume flex flex-col gap-8">
        <div>
          <b>Civic Tech Index</b><br />
          <span class="font-medium">Front-End Developer</span><br />
          <p class="font-serif text-base">
            Open-source React project from <a href="https://www.hackforla.org">Hack For LA</a>
          </p>
          <ul class="font-serif text-base">
            <li>Brought cohesion to team’s use of Material-UI</li>
            <li>Wrote Cypress tests, expanding code coverage from 50% to 91%</li>
            <li>Wrote and edited documentation</li>
            <li>
              Within a month, became <a
                href="https://github.com/civictechindex/CTI-website-frontend/graphs/contributors">main contributor</a
              >
            </li>
          </ul>
        </div>

        <div>
          “<b><a href="https://github.com/kevinashworth/Octave">Octave</a></b>”<br />
          <span class="font-medium">Full-stack developer</span><br />
          <p class="font-serif text-base">React+GraphQL SPA, large side project</p>
          <ul class="font-serif text-base">
            <li>Built with Vulcan, which uses Meteor</li>
            <li>
              Wrote 71 React <a href="https://github.com/kevinashworth/Octave/tree/main/packages/octave/lib/components"
                >components</a
              >
            </li>
            <li>Used Redux, Apollo, Twilio, and many npm libraries</li>
            <li>Used MongoDB with server-side data denormalization</li>
          </ul>
        </div>
      </div>

      <div class="resume">
        <div class="heading">Additional Skills, Experiences &amp; Interests</div>
      </div>

      <div class="resume flex flex-col gap-8">
        <div>
          <div class="smallcaps mb-1 block">LANGUAGES</div>
          <div class="font-serif text-base">Conversational Spanish</div>
        </div>

        <div>
          <div class="smallcaps mb-5 block">OTHER PROFESSIONAL EXPERIENCES</div>
          <ul class="font-serif text-base">
            <li>Acting teacher in Los Angeles.</li>
            <li>Television, theater, and commercial actor in Los Angeles.</li>
            <li>Electronics teacher at Middlesex Community College.</li>
            <li>
              Music director for Methodist church, chorus member of Boston Symphony Orchestra and
              <span class="text-nowrap">La Jolla Symphony</span>, piano teacher, theater administrator in New York.
            </li>
          </ul>
        </div>
        <div id="centerfoot">Last modified: {lastModified}</div>
      </div>
    </div>
  </div>
</Layout>
