---

---

<style>
  a,
  ul li a {
    text-decoration: underline;
  }
  a:link {
    color: #900;
  }
  a:visited {
    color: #900;
  }
  a:hover {
    color: #e00;
  }
  a:active {
    color: #e00;
  }
</style>

<div>
  <h2 class="text-xl font-bold mt-12 font-heading dark:text-gray-200">Email Updates</h2>

  <p>
    From time to time — quite infrequently, actually — I send out email updates. Mostly when I’m in a play, sometimes
    when I’m on TV.
  </p>
  <br />
  <p>To prove I don’t spam people very often, here are the archives of my email blasts over the last decade or so:</p>
  <br />

  <p id="campaign-monitor">
    <!-- <script type="text/javascript" src="http://ashworth.createsend.com/t/r/p/dyjtd/0/1/0/1/1/"></script> -->
    <ul class="list-inside list-disc">
    <li><a href="https://ashworth.createsend.com/t/ViewEmailArchive/r/7BD48069F5D149022540EF23F30FEDED/C67FD2F38AC4859C/" target="_blank">Death of Walt Disney</a>, 21 March 2022</li>
    <li><a href="https://ashworth.createsend.com/t/ViewEmailArchive/r/E542FE9BA2A9B09F2540EF23F30FEDED/C67FD2F38AC4859C/" target="_blank">Email 08 (NCIS)</a>, 02 January 2018</li>
    <li><a href="https://ashworth.createsend.com/t/ViewEmailArchive/r/631F423DD97490292540EF23F30FEDED/C67FD2F38AC4859C/" target="_blank">Email 07 (SWM)</a>, 15 December 2015</li>
    <li><a href="https://ashworth.createsend.com/t/ViewEmailArchive/r/77DDA4351CEB128B2540EF23F30FEDED/C67FD2F38AC4859C/" target="_blank">Email 06 (B&I)</a>, 20 September 2013</li>
    <li><a href="https://ashworth.createsend.com/t/ViewEmailArchive/r/885538FC3AECA5D5/C67FD2F38AC4859C/" target="_blank">Email 05 (Chapter 90210)</a>, 17 January 2013</li>
    <li><a href="https://ashworth.createsend.com/t/ViewEmailArchive/r/C69C85A3F015B953/C67FD2F38AC4859C/" target="_blank">Email 04 (Occupy)</a>, 22 November 2011</li>
    <li><a href="https://ashworth.createsend.com/t/ViewEmailArchive/r/317826CB29158912/C67FD2F38AC4859C/" target="_blank">Email 03 (2 yrs, LOLA)</a>, 19 October 2010</li>
    <li><a href="https://ashworth.createsend.com/t/ViewEmailArchive/r/F1796FE83326FFE3/C67FD2F38AC4859C/" target="_blank">Email 02 (One year in LA)</a>, 22 September 2009</li>
    <li><a href="https://ashworth.createsend.com/t/ViewEmailArchive/r/45C23CEA201DC7C3/C67FD2F38AC4859C/" target="_blank">Email 01 (Six months in LA)</a>, 05 March 2009</li>
    </ul>
  </p>

  <form action="https://ashworth.createsend.com/t/r/s/vdutd/" method="post" id="subForm">
    <div class="py-4">
      <h3 class="text-lg font-bold mt-4 font-heading dark:text-gray-200">Sign up to get happily spammed</h3>
      <div class="mt-2 max-w-md">
        <div class="grid grid-cols-1 gap-2">
          <label for="fieldName" class="block">
            <span class="text-gray-700">Name (optional)</span>
            <input
              id="fieldName"
              name="cm-name"
              type="text"
              class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
              placeholder=""
            />
          </label>
          <label for="fieldEmail" class="block">
            <span class="text-gray-700">Email (required)</span>
            <input
              id="fieldEmail"
              name="cm-vdutd-vdutd"
              required
              type="email"
              class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
              placeholder=""
            />
          </label>
        </div>
        <button type="submit" class="mt-5 px-4 py-2 font-semibold rounded-md bg-black text-white">Subscribe</button>
      </div>
    </div>
  </form>
</div>
