---
import Layout from "~/layouts/Layout.astro";
import Header from "~/components/widgets/Header.astro";

import { headerData } from "~/navigation";

import type { MetaData } from "~/types";

export interface Props {
  disablePagefind?: boolean;
  metadata?: MetaData;
}

const { disablePagefind = false, metadata } = Astro.props;
---

<Layout metadata={metadata} disablePagefind={disablePagefind}>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
</Layout>
